.idea
__pycache__/
*.json
*.dot
build
dist
nlp_profiler.egg*
.ipynb_checkpoints/
.coverage*
.coverage-reports/
.test-run-reports
.pytest_cache
.cprofile/
datasets
googleplaystore_user_reviews.csv
expected_high_level_googleplaystore_user_reviews.csv
*.log*
*.zip
release-artifacts
